    <!-- This page allows the current employee or their manager to create a task. -->

        <div>
         <% if flash.has?(:message) %>
        <%= flash[:message] %>
        <% end %>
        
        <h1>Create New Task for <%= @employee.name %></h1>
        <form action="/tasks/<%= @employee.slug %>" method="POST">
            <label>Task: </label>
            <input type="text" name="task[name]" placeholder="Enter Task" required>
            <br>
            <label>Due Date: </label>
            <input type="text" name="task[due_date]" placeholder="MM-DD" required>
            <br>
            <label>Priority: </label>
            <select name="task[priority]" id="task_priority">
                <option value="Select Priority" selected disabled hidden>--Select Priority--</option>
                <option value="High">High</option>
                <option value="Medium">Medium</option>
                <option value="Low">Low</option>
            </select>
            <br>
            <br>
            <input type="submit" value="Add Task">

        
        </form>
        </div>

        <footer>
            <% if employee_logged_in? %>
                <a href="/employees/<%= current_employee.slug %>">Back to My Employee Page</a>
            <% elsif manager_logged_in? %>
                <a href="/managers/<%= current_manager.slug %>">Back to My Manager Page</a>
            <% end %>
        </footer>
    
 