<!DOCTYPE html>
<html>
    <!-- This page will allow a manager or employee to create a task. -->
    <!-- Add functionality to assign task - here or in controller? -->
    <head>
        <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    </head>

    <body>
        <% if manager_logged_in? %>
            <header>Logged in as <%= current_manager.email %></header>
        <% elsif employee_logged_in? %>
            <header>Logged in as <%= current_employee.email %></header>
        <% end %>

        <div>
        <h1>Create New Task for <%= @employee.name %></h1>
        <form action="/tasks/<%= @employee.slug %>" method="POST">
            <label>Task: </label>
            <input type="text" name="task[name]" placeholder="Enter Task" required>
            <br>
            <label>Due Date: </label>
            <input type="text" name="task[due_date]" placeholder="MM-DD" required>
            <br>
            <label>Priority: </label>
            <select name="task[priority]" id="task_priority">
                <option value="Select Priority" selected disabled hidden>--Select Priority--</option>
                <option value="High">High</option>
                <option value="Medium">Medium</option>
                <option value="Low">Low</option>
            </select>
            <br>
            <br>
            <input type="submit" value="Add Task">

        
        </form>
        </div>

        <footer>
            <% if employee_logged_in? %>
                <a href="/employees/<%= current_employee.slug %>">Back to My Employee Page</a>
            <% elsif manager_logged_in? %>
                <a href="/managers/<%= current_manager.slug %>">Back to My Manager Page</a>
            <% end %>
        </footer>
    
    </body>

</html>