    <!-- This page allows an employee or their manager to edit a task. -->

        <div>
         <% if flash.has?(:message) %>
        <%= flash[:message] %>
        <% end %>
        
        <h1>Edit Task</h1>
        <form action="/tasks/<%= @employee.slug %>/<%= @task.id %>" method="POST">
            <input type="hidden" name="_method" value="PATCH">
            <label>Task: </label>
            <input type="text" name="task[name]" value="<%= @task.name %>" required>
            <br>
            <label>Due Date: </label>
            <input type="text" name="task[due_date]" value="<%= @task.due_date%>" required>
            <br>
            <label>Priority: </label>
            <!-- Fix to select pre-selected value -->
            <select name="task[priority]" id="task_priority">
                <option value="High" <%='selected' if @task.priority == "High"%>>High</option>
                <option value="Medium" <%='selected' if @task.priority == "Medium"%>>Medium</option>
                <option value="Low" <%='selected' if @task.priority == "Low"%>>Low</option>
            </select>
            <br>
            <br>
            <input type="submit" value="Edit Task">

        
        </form>
        </div>

        <footer>
            <% if employee_logged_in? %>
                <a href="/employees/<%= current_employee.slug %>">Back to My Employee Page</a>
            <% elsif manager_logged_in? %>
                <a href="/managers/<%= current_manager.slug %>">Back to My Manager Page</a>
            <% end %>
        </footer>
