<!DOCTYPE html>
<html>
    <!-- This page will show an individual task. -->
    <head>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
        <style>
            body {
                background-color: darkcyan;
                font-family: 'Montserrat', sans-serif;
            }

            div {
                background-color: darkgrey;
                border: 1px solid black;
                border-radius: 8px;
                text-align: center;
            }

            a:link {
                color: midnightblue;
            }

            a:visited {
                color: rebeccapurple;
            }

            footer {
                text-align: center;
                padding: 20px;
                display: block;
            }

            footer a {
                margin-right: 15px;
            }
        </style>
    </head>

    <body>
        <% if manager_logged_in? %>
            <header>Logged in as <%= current_manager.email %></header>
        <% elsif employee_logged_in? %>
            <header>Logged in as <%= current_employee.email %></header>
        <% end %>

        <div>
        <h1><%= @task.name %></h1>
        <h3>Due Date: <%= @task.due_date %></h3>
        <h4>Priority: <%= @task.priority %></h4>
        <% if @employee == current_employee || @employee.manager == current_manager %>
        <a href="/tasks/<%= @employee.slug %>/<%= @task.id %>/edit">Edit Task</a><br>
        <a href="/tasks/<%= @employee.slug %>/<%= @task.id %>/delete">Delete Task</a>
        <% end %>
        <br>
        <br>
        </div>
        

    <footer>
        <% if employee_logged_in? %>
            <a href="/employees/<%= current_employee.slug %>">Back to My Employee Page</a>
        <% elsif manager_logged_in? %>
                <a href="/managers/<%= current_manager.slug %>">Back to My Manager Page</a>
        <% end %>
        <a href="/employees">Employees List</a>
        <a href="/managers">Managers List</a>
        <a href="/logout">Log Out</a>
    </footer>
    </body>

</html>