    <!-- This page shows an individual task. -->

        <div>
         <% if flash.has?(:message) %>
        <%= flash[:message] %>
        <% end %>
        
        <h1><%= @task.name %></h1>
        <h3>Due Date: <%= @task.due_date %></h3>
        <h4>Priority: <%= @task.priority %></h4>
        <% if @employee == current_employee || @employee.manager == current_manager %>
        <a href="/tasks/<%= @employee.slug %>/<%= @task.id %>/edit">Edit Task</a><br>
        <a href="/tasks/<%= @employee.slug %>/<%= @task.id %>/delete">Delete Task</a>
        <% end %>
        <br>
        <br>
        </div>
        

    <footer>
        <% if employee_logged_in? %>
            <a href="/employees/<%= current_employee.slug %>">Back to My Employee Page</a>
        <% elsif manager_logged_in? %>
                <a href="/managers/<%= current_manager.slug %>">Back to My Manager Page</a>
        <% end %>
        <a href="/employees">Employees List</a>
        <a href="/managers">Managers List</a>
        <a href="/logout">Log Out</a>
    </footer>
  