<!DOCTYPE html>
<html>
    <!-- This page will show an individual task. -->
    <head>
    
    </head>

    <body>
        <h1><%= @employee.name %>'s Tasks</h1>
        <ul>
        <% @employee.tasks.each do |task| %>
            <li><b><%= task.name %></b><br>
                Due Date: <%= task.due_date %><br>
                Priority: <%= task.priority %><br>
                <a href="/tasks/<%= task.id %>/delete">Delete Task</a></li><br>
        <% end %>
        </ul>

        <h4><a href="/tasks/<%= @employee.slug %>/new">Add New Task</h4>
    </body>

    <footer>
        <a href="/employees/<%= @employee.slug %>">Back to <%= @employee.name %>'s Employee Profile</a>
        <a href="/employees">Employees List</a>
        <a href="/managers">Managers List</a>
        <a href="/logout">Log Out</a>
    </footer>

</html>