<!-- This page shows an individual employee's tasks. -->

        <div>
        <% if flash.has?(:message) %>
        <%= flash[:message] %>
        <% end %>
        
        
        <h1><%= @employee.name %>'s Tasks</h1>
        <ul id="list">
        <% @employee.tasks.each do |task| %>
            <li><b><a href="/tasks/<%= @employee.slug %>/<%= task.id %>"><%= task.name %></a></b><br>
                Due Date: <%= task.due_date %><br>
                Priority: <%= task.priority %><br></li>
        <% end %>
        </ul>
     
        <% if @employee == current_employee || @manager == current_manager %>
            <h4><a href="/tasks/<%= @employee.slug %>/new">Add New Task</h4>
        <% end %>
        </div>


        <footer>
        <% if employee_logged_in? %>
            <a href="/employees/<%= current_employee.slug %>">Back to My Employee Page</a>
        <% elsif manager_logged_in? %>
                <a href="/managers/<%= current_manager.slug %>">Back to My Manager Page</a>
        <% end %>
        <a href="/employees">Employees List</a>
        <a href="/managers">Managers List</a>
        <a href="/logout">Log Out</a>
        </footer>

    
