<!DOCTYPE html>
<html>
    <!-- This page will show an individual task. -->
    <head>
    
    </head>

    <body>
        <h1><%= @task.name %></h1>
        <h3>Due Date: <%= @task.due_date %></h3>
        <h4>Priority: <%= @task.priority %></h4>
        <a href="/tasks/<%= @employee.slug %>/<%= @task.id %>/edit">Edit Task</a><br>
        <a href="/tasks/<%= @employee.slug %>/<%= @task.id %>/delete">Delete Task</a>
        <br>
        <br>

        
    </body>

    <footer>
        <a href="/employees">Employees List</a>
        <a href="/managers">Managers List</a>
        <a href="/logout">Log Out</a>
    </footer>

</html>