    <!-- This page allows an employee or their manager to edit their information. -->
        <div>
        <% if flash.has?(:message) %>
        <%= flash[:message] %>
        <% end %>

        <h1>Edit Profile for <%= @employee.name %></h1>
        <form action="/employees/<%= @employee.slug %>" method="POST">
            <input type="hidden" name="_method" value="PATCH">
            <label>Name: </label>
            <input type="text" name="employee[name]" id="employee_name" value="<%= @employee.name %>" required>
            <br>
            <label>Department: </label>
                <select name="employee[department]" id="employee_department">
                <option value="Accounting" <%= 'selected' if @employee.department == "Accounting" %>>Accounting</option>
                <option value="Human Resources" <%='selected' if @employee.department == "Human Resources"%>>Human Resources</option>
                <option value="Administration" <%='selected' if @employee.department == "Administration"%>>Administration</option>
                <option value="Research" <%='selected' if @employee.department == "Research"%>>Research</option>
                <option value="Marketing" <%='selected' if @employee.department == "Marketing"%>>Marketing</option>
                <option value="Production" <%='selected' if @employee.department == "Production"%>>Production</option>
                <option value="Sales" <%='selected' if @employee.department == "Sales"%>>Sales</option>
                </select> 
            <br>
            <label>Manager: </label>
                <select name="employee[manager]" id="employee_manager">
                <% Manager.all.each do |manager| %>
                    <option value="<%= manager.slug %>" <%= 'selected' if @employee.manager == manager %>><%= manager.name %><br>
                <% end %>
                </select>
            <br>
            <label>Title: </label>
            <input type="text" name="employee[title]" id="employee_title" value="<%= @employee.title %>" required>
            <br>
            <label>Email: </label>
            <input type="email" name="employee[email]" id="employee_email" value="<%= @employee.email %>" required>
            <br>
            <input type="submit" value="Edit Employee">
            </div>

            <footer>
           <% if employee_logged_in? %>
                <a href="/employees/<%= current_employee.slug %>">Back to My Employee Page</a>
            <% elsif manager_logged_in? %>
                <a href="/managers/<%= current_manager.slug %>">Back to My Manager Page</a>
            <% end %>
            <a href="/employees">Employees List</a>
            <a href="/managers">Managers List</a>
            <a href="/logout">Log Out</a>
            </footer>
            
    