<!-- This page shows a list of all employees with links to their individual info pages. -->

        <div>
         <% if flash.has?(:message) %>
        <%= flash[:message] %>
        <% end %>
        
        <h1>Employees</h1>
        <br>
        <ul id="list">
        <% @employees.each do |employee| %>
            <li><a href="/employees/<%= employee.slug %>"><%= employee.name %></a></li><br>
        <% end %>
        </ul>
        </div>


        <footer>
            <% if employee_logged_in? %>
                <a href="/employees/<%= current_employee.slug %>">Back to My Employee Page</a>
            <% elsif manager_logged_in? %>
                <a href="/managers/<%= current_manager.slug %>">Back to My Manager Page</a>
            <% end %>
            <a href="/managers">Managers List</a>
            <a href="/logout">Log Out</a>
        </footer>
