<!DOCTYPE html>
<html>
    <!-- This page will show an individual employee's information (name, department, title, email).
    Will include link to employee task list, will redirect if not logged in. -->
    <head>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
        <style>
            body {
                background-color: darkcyan;
                font-family: 'Montserrat', sans-serif;
            }

            div {
                background-color: darkgrey;
                border: 1px solid black;
                border-radius: 8px;
                text-align: center;
            }

            a:link {
                color: midnightblue;
            }

            a:visited {
                color: rebeccapurple;
            }
        </style>
    </head>

    <body>
        <% if employee_logged_in? %>
            <header>Logged in as <%= current_employee.email %></header>
        <% elsif manager_logged_in? %>
            <header>Logged in as <%= current_manager.email %></header>
        <% end %>

        <div>
        <h1><%= @employee.name %></h1>
        <h3>Title: <%= @employee.title %></h3>
        <h4>Department: <%= @employee.department %></h4>
        <p>Manager: <a href="/managers/<%= @employee.manager.slug %>"><%= @employee.manager.name %></a></p>
        <p>Email Address: <%= @employee.email %></p>
        <br>
        <h4><a href="/tasks/<%= @employee.slug %>">See tasks assigned to <%= @employee.name %></h4>
        <br>
        <% if @employee == current_employee %>
            <a href="/employees/<%= @employee.slug %>/edit">Edit Employee Info</a>
            <br>
        <% elsif @employee = current_employee || @employee.manager = current_manager %>
            <a href="/employees/<%= @employee.slug %>/delete">Delete Employee</a>
            <br>
        <% end %>
        </div>

        <footer>
            <% if manager_logged_in? %>
                <a href="/managers/<%= current_manager.slug %>">Back to My Manager Page</a>
            <% end %>
            <a href="/employees">Employees List</a>
            <a href="/managers">Managers List</a>
            <a href="/logout">Log Out</a>
        </footer>
    </body>

</html>