<!DOCTYPE html>
<html>
    <!-- This page will show an individual employee's information (name, department, title, email).
    Will include link to employee task list, will redirect if not logged in. -->
    <head>
    
    </head>

    <body>
    
        <h1><%= @employee.name %></h1>
        <h3>Title: <%= @employee.title %></h3>
        <h4>Department: <%= @employee.department %></h4>
        <p>Manager: <a href="/managers/<%= @employee.manager.slug %>"><%= @employee.manager.name %></a></p>
        <p>Email Address: <%= @employee.email %></p>
        <br>
        <h4><a href="/tasks/<%= @employee.slug %>">See tasks assigned to <%= @employee.name %></h4>
        <br>
        <% if @employee == current_user %>
        <a href="/employees/<%= @employee.slug %>/edit">Edit Employee Info</a>
        <br>
        <a href="/employees/<%= @employee.slug %>/delete">Delete Employee</a>
        <br>
        <% end %>

        <footer>
            <a href="/employees">Employees List</a>
            <a href="/managers">Managers List</a>
            <a href="/logout">Log Out</a>
        </footer>
    </body>

</html>