<!-- This page allows a manager to edit their own information. -->
  

        <div>
         <% if flash.has?(:message) %>
        <%= flash[:message] %>
        <% end %>
        
        <h1>Edit Manager Profile for <%= @manager.name %></h1>

        <form action="/managers/<%= @manager.slug %>" method="POST">
            <input type="hidden" name="_method" value="PATCH">
            <label>Name: </label>
            <input type="text" name="manager[name]" id="manager_name" value="<%= @manager.name %>" required>
            <br>
            <label>Department: </label>
            <select name="manager[department]" id="manager_department">
                <option value="Accounting" <%='selected' if @manager.department == "Accounting"%>>Accounting</option>
                <option value="Human Resources" <%='selected' if @manager.department == "Human Resources"%>>Human Resources</option>
                <option value="Administration" <%='selected' if @manager.department == "Administration"%>>Administration</option>
                <option value="Research" <%='selected' if @manager.department == "Research"%>>Research</option>
                <option value="Marketing" <%='selected' if @manager.department == "Marketing"%>>Marketing</option>
                <option value="Production" <%='selected' if @manager.department == "Production"%>>Production</option>
                <option value="Sales" <%='selected' if @manager.department == "Sales"%>>Sales</option>
            </select>

            <br>
        
            <label>Title: </label>
            <input type="text" name="manager[title]" id="manager_title" value="<%= @manager.title %>" required>
            <br>
            <label>Email: </label>
            <input type="email" name="manager[email]" id="manager_email" value="<%= @manager.email %>" required>
            <br>
             
            <label>Add Employee(s): </label>
            <br>
                <% Employee.all.each do |employee| %>
                    <input type="checkbox" id="employees" name="manager[employee_ids][]" value="<%= employee.id %>" <%='checked' if @manager.employees.include?(employee)%>><%= employee.name %><br>
                <% end %>
           
            <input type="submit" value="Edit Manager">
            </div>

            <footer>
            <% if manager_logged_in? %>
                <a href="/managers/<%= current_manager.slug %>">Back to My Manager Page</a>
            <% end %>
            <a href="/employees">Employees List</a>
            <a href="/managers">Managers List</a>
            <a href="/logout">Log Out</a>
            </footer>
    