 <!-- This page shows an individual manager's information (name, department, title, email) -->
  

        <div>
         <% if flash.has?(:message) %>
        <%= flash[:message] %>
        <% end %>
        
        <h1><%= @manager.name %></h1>
        <h3>Title: <%= @manager.title %></h3>
        <h4>Department: <%= @manager.department %></h4>
        <p>Email Address: <%= @manager.email %></p>
        <br>
        <% if @manager == current_manager %>
        <a href="/managers/<%= @manager.slug %>/edit">Edit Manager Info</a>
        <br>
        <a href="/managers/<%= @manager.slug %>/delete">Delete Manager</a>
        <% end %>
        <br>
        <h4>Employees:</h4>
            <ul id="list">
                <% @manager.employees.each do |employee|%>
                    <li><a href="/employees/<%= employee.slug %>"><%= employee.name %></a></li>
                <% end %>
            </ul>
        </div>
        

        <footer>
            <% if employee_logged_in? %>
                <a href="/employees/<%= current_employee.slug %>">Back to My Employee Page</a>
            <% elsif manager_logged_in? %>
                <a href="/managers/<%= current_manager.slug %>">Back to My Manager Page</a>
            <% end %>
            <a href="/employees">Employees List</a>
            <a href="/managers">Managers List</a>
            <a href="/logout">Log Out</a>
        </footer>
 