<!DOCTYPE html>
<html>
    <!-- This page will show an individual manager's information (name, department, title, email) -->
    <head>
    
    </head>

    <body>
        <% if manager_logged_in? %>
            <header>Logged in as <%= current_manager.email %></header>
        <% elsif employee_logged_in? %>
            <header>Logged in as <%= current_employee.email %></header>
        <% end %>

        <h1><%= @manager.name %></h1>
        <h3>Title: <%= @manager.title %></h3>
        <h4>Department: <%= @manager.department %></h4>
        <p>Email Address: <%= @manager.email %></p>
        <br>
        <% if @manager == current_manager %>
        <a href="/managers/<%= @manager.slug %>/edit">Edit Manager Info</a>
        <br>
        <a href="/managers/<%= @manager.slug %>/delete">Delete Manager</a>
        <% end %>
        <br>
        <h4>Employees:</h4>
            <ul>
                <% @manager.employees.each do |employee|%>
                    <li><a href="/employees/<%= employee.slug %>"><%= employee.name %></a></li>
                <% end %>
            </ul>
        

        <footer>
            <% if employee_logged_in? %>
                <a href="/employees/<%= current_employee.slug %>">Back to My Employee Page</a>
            <% end %>
            <a href="/employees">Employees List</a>
            <a href="/managers">Managers List</a>
            <a href="/logout">Log Out</a>
        </footer>
    </body>

</html>